*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --font-size: 16px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fffff2 !important;
}

/* .nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size);
    padding: 10px 15px;
    transition: background-color 0.3s ease;
} */